.Dictionary section {
  background: #ffffff;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}
form {
  margin-bottom: 40px;
}

input[type="search"] {
  background: transparent;
  border: none;
  border-bottom: 4px solid #66bfbf;
  width: 420px;
  padding: 10px;
  color: #66bfbf;
  font-size: 21px;
  text-align: center;
}

::placeholder {
  color: #66bfbf;
  text-align: center;
}

.Results {
  text-align: left;
}
