form {
  margin-bottom: 40px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 320px;
}

.Results {
  text-align: left;
}

svg {
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 40px;
}
